@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tinos', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.bg-lightblue {
  background-color: rgba(181, 216, 255, 0.815);
}

.bg-tan {
  background-color: rgba(252, 241, 205, 0.705);
}

button{
  cursor: pointer;
  transition: all ease 300ms;
}

button:active {
  transform: translateY(3px);
}

/* NAV */

.nav-Container {
  position: fixed;
  z-index: 50;
  border: none;
  left: 24px;
  right: 24px;
  height: 64px;
  top: 16px;
  transition: all ease 700ms;

}

.nav-header {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.floating-nav {
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 100;
}

.icon-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav__list{
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-size: 16px;
}

.language__button{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 171, 201) ;
  border-radius: 8px;
  padding: 4px; 
}

.language__button:hover{
  background-color: rgba(181, 216, 255, 0.815);
}

.menu__button{
  font-size: 24px;
  background-color: transparent;
  border: none;
}

.img-div {
  display: flex;
  align-items: center;

}

.logo {
  width: 40px;
}

/* LANDING */

#landing{
  background-image: url('Assets/gallery6.JPG');
   background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
  padding-top: 64px;
  flex: 1;
}

/* GALLERY */



/* FOOTER */