@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TASA+Explorer:wght@400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'TASA', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

section {
  padding: 36px 36px;
}

.bg-lightblue {
  background-color: rgba(181, 216, 255, 0.815);
}

.bg-tan {
  background-color: rgba(252, 241, 205, 0.705);
}

button {
  cursor: pointer;
  transition: all ease 300ms;
}

button:active {
  transform: translateY(3px);
}

p {
  line-height: 2;
  font-weight: 400;
  color: #7c8ba1;
}

h1,
h2 {

  font-weight: 700;
}

h3,
h4 {
  font-weight: 600;
}

.blue-text {
  color: rgb(0, 132, 255);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

/* NAV */

.nav-Container {
  position: fixed;
  z-index: 50;
  border: none;
  left: 24px;
  right: 24px;
  height: 64px;
  top: 16px;
  transition: all ease 700ms;

}

.nav-header {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: white;
}

.floating-nav {
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 100;
  color: black;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-size: 16px;
}

.language__button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 171, 201);
  border-radius: 8px;
  padding: 4px;
}

.language__button:hover {
  background-color: rgba(181, 216, 255, 0.815);
}

.menu__button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: white;
}

.img-div {
  display: flex;
  align-items: center;

}

.logo {
  width: 40px;
}

.number--wrapper{
  display: flex;
  align-items: center;justify-content: center;
}

.number {
  color: white;
  font-size: 24px;
  text-decoration: none;
  padding-left: 16px;
}

/* LANDING */

#landing {
  background-image: url('Assets/gallery6.JPG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
  position: relative;
  height: 100vh;
}

.description {
  color: white;
  backdrop-filter: hue-rotate(-0.25turn);
  border: 3px solid rgb(0, 132, 255);
  padding: 24px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.description__top--text{
  padding-bottom: 16px;
}

.top-left {
  position: absolute;
  left: 24px;
  top: 96px
}

.bottom-right {
  position: absolute;
  right: 24px;
  bottom: 24px;
}

/* FEATURES */



.features__description--heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 40px auto
}

.features__descriptions{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  width: 100%;
  max-width: 1024px;
}

.features__description{
  display: flex;
  align-items: center;
  width: calc(100%/3);
  padding: 32px 20px
}

.features__description--icon{
  padding: 20px;
  border: 1px solid rgb(226,232,240);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.features__description--text{
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.features__description--para{
  margin-top: 16px;

}

/* SERVICES */

.services__row{
  max-width: 1440px;
}

.section__header {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  letter-spacing: 2px;
}

.service__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0; 
}

.img__container {
  width: 50%;
}

.sub-headers__container {
  width: 50%;
}

.res__img {
  width: 100%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.com__img {
  width: 100%;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 50%);
  border-radius: 8%;
}

.left__img{
  padding-right: 24px;
}

.right__img{
  padding-left: 24px;
}

.sub-headers {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  box-shadow: 0 8px 16px 0 #535353;
  text-align: center;
}

.sub__header--title {
  margin-bottom: 16px;
}

.sub-paras {
  font-size: 18px;
}

/* FOOTER */

footer {
  background-color: rgb(0, 132, 255);
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--name {
  font-weight: 900;
  margin-left: 8px;
}

.footer__logo--img {
  width: 32px;
  height: 32px;
}

.footer__copyright {
  font-size: 18px;
  color: white;
}