@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Tinos', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

section{
  padding: 36px 0 ;
}

.bg-lightblue {
  background-color: rgba(181, 216, 255, 0.815);
}

.bg-tan {
  background-color: rgba(252, 241, 205, 0.705);
}

button {
  cursor: pointer;
  transition: all ease 300ms;
}

button:active {
  transform: translateY(3px);
}

p{
  line-height: 2;
  font-weight: 700;
}

h1,h2,h3,h4 {
  font-weight: 900;
}

.blue-text{
  color: rgb(0, 132, 255);
}

/* NAV */

.nav-Container {
  position: fixed;
  z-index: 50;
  border: none;
  left: 24px;
  right: 24px;
  height: 64px;
  top: 16px;
  transition: all ease 700ms;

}

.nav-header {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 8px;
  color: white;
}

.floating-nav {
  background-color: rgba(0, 0, 0, 0.815);
  z-index: 100;
  color: black;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-size: 16px;
}

.language__button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 171, 201);
  border-radius: 8px;
  padding: 4px;
}

.language__button:hover {
  background-color: rgba(181, 216, 255, 0.815);
}

.menu__button {
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: white;
}

.img-div {
  display: flex;
  align-items: center;

}

.logo {
  width: 40px;
}

.number {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

/* LANDING */

#landing {
  background-image: url('Assets/gallery6.JPG');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 80px;
  position: relative;
  height: 100vh;
}

.description {
  color: white;
}

.top-left {
  position: absolute;
  left: 24px;
  top: 96px
}

.bottom-right {
  position: absolute;
  right: 24px;
  bottom: 24px;
}


/* GALLERY */


/* SERVICES */

.section__header{
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
}



.Residential-container,
.Commercial-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img__container {
  width: 50%;
}

.sub-headers__container{
  width: 50%;
}

.res__img {
  width:100%;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.com__img {
  width: 100%;
  clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 30% 100%, 0% 50%);
  border-radius: 8%;
}

.sub-headers {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  box-shadow: 0 8px 16px 0 #535353;
}

.sub-header{
  font-size: 48px;
}

.sub-paras{
  font-size: 18px;
}

/* FOOTER */

footer {
  background-color: rgb(0, 132, 255);
}

.footer__wrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.footer__logo{
  display: flex;
  align-items: center;
}

.footer__logo--name{
  font-weight: 900;
  margin-left: 8px;
  font-size: 24px;
}

.footer__logo--img{
  width: 32px;
  height: 32px;
}

.footer__copyright{
  font-size: 18px;
}